{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}

<div class="container">
    <form class="text-center border border-light p-5" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p class="h4 mb-4">Entrar</p>

        <p>¿No tienes cuenta?
            <a href="{% url 'signup' %}">Regístrate</a>
        </p>

        <input class="form-control mb-4" type="text" id="usuario" name="{{ form.username.name }}" placeholder="Nombre de usuario" value="{{form.username.value |default_if_none:''}}">

        <input class="form-control mb-4" type="password" id="password" name="{{ form.password.name }}" placeholder="Contraseña">


        {% if form.errors %}
        <h5>Usuario y contraseña no coinciden.</h5>
        {% endif %}

        <button class="btn btn-success btn-block my-4" type="submit"> Entrar</button>

        <div class="d-flex justify-content-around">
            <div>
                <a href="{% url 'password_reset' %}"> ¿Has olvidado tu contraseña? </a>
            </div>
        </div>

        {% if next %}
        {% if user.is_authenticated %}
        <h2>Usuario sin permisos</h2>
        {% else %}
        <h2>Necesario registrarse</h2>
        {% endif %}
        {% endif %}

    </form>
</div>

{% endblock %}
