{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="contenedor_log">
    {% csrf_token %}
    <h1>Entrar</h1>

    <input type="text" id="username" name="{{ form.username.name }}" placeholder="Nombre de usuario" class="box" value="{{form.username.value |default_if_none:''}}">

    <input type="password" id="password" name="{{ form.password.name }}" placeholder="Contraseña" class="box">

    <button type="submit"> Login</button>
    <input type="hidden" name="next" value="{{ next }}"/>

    <p><u style="color:#f1c40f;"><a href="{% url 'password_reset' %}"> ¿Ha olvidado su contraseña? </a></u></p>

    {% if form.errors %}
    <h2>Usuario y contraseña no coinciden.</h2>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <h2>Usuario sin permisos</h2>
    {% else %}
    <h2>Necesario registrarse</h2>
    {% endif %}
    {% endif %}

</form>

{% endblock %}
