{% extends 'base.html' %}

{% block title %}Debug{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form method="post" action="#" class="contenedor_log container col-md-6 mt-2 mb-2">
    {% csrf_token %}
    <input type="hidden" name="type" value="addTrip">

    <h1>Añadir trip</h1>

    <input type="date" name="date" placeholder="Fecha">
    <input type="text" name="start" placeholder="Inicio">
    <input type="text" name="end" placeholder="Fin">

    <button type="submit">Añadir trip al usuario</button>

</form>
{% else %}
<h2>Necesario registrarse</h2>
{% endif %}

{% endblock %}
