<!DOCTYPE html>
<html>
<head>
    <title> EcoRutas: Dar baja </title>
    <meta charset="UTF-8">
    <meta name="description" content="login EcoRutas"/>
    <meta name="keywords"
          content="administración,EcoRutas,Zaragoza,medio ambiente,ayuntamiento de Zaragoza,borrar usuario"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="estilos/images/icono.ico">
    <link href='estilos/main.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div>
        <ul>
            <li><a href="login.html">Entrar</a></li>
            <li><a href="logup.html">Registrarse</a></li>
        </ul>
    </div>
    <img class="titulo" src="estilos/images/EcoRutas.png" alt="Logo de EcoRutas">
    <nav>
        <ul>
            <li><a href="index.html">Página principal</a></li>
            <li><a href="mapa.html">Calculadora de rutas</a></li>
        </ul>
    </nav>
</header>
<form method="post" action="index.html" class="contenedor_log">
    <h1>Administración de borrado de cuentas</h1>
    <input type="email" id="email" name="email" placeholder="Email de usuario" class="box">
    <input type="password" id="password" name="password" placeholder="Contraseña de administrador" class="box">
    <button type="submit"> Eliminar usuario</button>
</form>
</body>
</html>