<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>EcoRutas: {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="EcoRutas"/>
    <meta name="keywords"
          content="EcoRutas,Zaragoza,medio ambiente,ayuntamiento de Zaragoza,noticias,calculadora de rutas"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icono.ico' %}">
    <link href="{% static 'styles/main.css' %}" rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Cabecera de la página -->
<header>
    <div>
        <ul>
            <li><a href="{% url 'login' %}">Entrar</a></li>
            <li><a href="{% url 'logup' %}">Registrarse</a></li>
        </ul>
    </div>
    <img class="titulo" src="{% static 'images/EcoRutas.png' %}" alt="Logo de EcoRutas">
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Página principal</a></li>
            <li><a href="{% url 'mapa' %}">Calculadora de rutas</a></li>
        </ul>
    </nav>
</header>

<!-- Parte principal -->
{% block content %}
{% endblock %}

<!-- Pie de página -->
<footer>
    <ul>
        <li><a href="https://www.zaragoza.es/sedeelectronica/"><img src="{% static 'images/ayuntamiento.png' %}"
                                                                    alt="Ayuntamiento de Zaragoza"></a></li>
        <li><a href="{% url 'contacto' %}">Formulario de contacto</a></li>
    </ul>
</footer>

</body>
</html>