{% extends 'base.html' %}

{% block title %}Debug{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form method="post" action="#" class="contenedor_log">
    {% csrf_token %}
    <input type="hidden" name="type" value="addTrip">

    <h1>Añadir trip</h1>

    <input type="date" name="date" placeholder="Fecha" class="box">
    <input type="text" name="start" placeholder="Inicio" class="box">
    <input type="text" name="end" placeholder="Fin" class="box">
    <input type="number" name="points" placeholder="Puntos" class="box">

    <button type="submit">Añadir trip al usuario</button>

</form>
{% else %}
<h2>Necesario registrarse</h2>
{% endif %}

<form method="post" action="#" class="contenedor_log">
    {% csrf_token %}
    <input type="hidden" name="type" value="addCarType">

    <h1>Añadir tipo de coche</h1>

    <input type="text" name="model" placeholder="Tipo de coche" class="box">
    <input type="number" name="contaminationRate" placeholder="Tasa de contamincación" class="box">

    <button type="submit">Añadir tipo de coche</button>

</form>

{% endblock %}
