{% extends 'base.html' %}

{% block title %}Eliminar usuario{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="card border border-danger mt-2 mb-2">
        <div class="card-header h4 bg-danger text-center text-light">Eliminar usuario</div>

        <div class="card-body text-center"> 

            <p> Si borras tu cuenta la acción será irrecuperable </p>

            <p> ¿Seguro que quieres borrar tu cuenta? </p>
            
            <form class="row" method="post" action="{% url 'delete' %}">
                {% csrf_token %}
                <button class="col btn btn-outline-danger" type="submit" name="delete">Borrar</button>
                <button class="col btn btn-success" type="submit" name="back">Volver</button>
            </form>
            
        </div>
    </div>
    {% else %}
    <h2>Necesario registrarse.</h2>
    {% endif %}
</div>


{% endblock %}
