{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="post" action="{% url 'home' %}" class="contenedor_log">
    <h1>Entrar</h1>

    <input type="name" id="usuario" name="usuario" placeholder="Nombre de ususario" class="box">

    <input type="password" id="password" name="password" placeholder="Contraseña" class="box">

    <button type="submit"> Login</button>

    <p><u style="color:#f1c40f;"><a href="#"> ¿Ha olvidado su contraseña? </a></u></p>
</form>

{% endblock %}