<!DOCTYPE html>
<html>
<head>
    <title> EcoRutas: Login </title>
    <meta charset="UTF-8">
    <meta name="description" content="login EcoRutas"/>
    <meta name="keywords" content="login,EcoRutas,Zaragoza,medio ambiente,ayuntamiento de Zaragoza,entrar"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="estilos/images/icono.ico">
    <link href='estilos/main.css' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div>
        <ul>
            <li><a href="login.html">Entrar</a></li>
            <li><a href="logup.html">Registrarse</a></li>
        </ul>
    </div>
    <img class="titulo" src="estilos/images/EcoRutas.png" alt="Logo de EcoRutas">
    <nav>
        <ul>
            <li><a href="index.html">Página principal</a></li>
            <li><a href="mapa.html">Calculadora de rutas</a></li>
        </ul>
    </nav>
</header>
<form method="post" action="index.html" class="contenedor_log">
    <h1>Entrar</h1>

    <input type="name" id="usuario" name="usuario" placeholder="Nombre de ususario" class="box">

    <input type="password" id="password" name="password" placeholder="Contraseña" class="box">

    <button type="submit"> Login</button>

    <p><u style="color:#f1c40f;"><a href="#"> ¿Ha olvidado su contraseña? </a></u></p>
</form>
</body>
</html>