{% extends 'base.html' %}

{% block title %}Registrarse{% endblock %}

{% block content %}

<form method="post" action="{% url 'home' %}" class="contenedor_log">
    <h1>Registro</h1>
    <input type="email" id="email" name="email" placeholder="Email de contacto" class="box">
    <input type="name" id="usuario" name="usuario" placeholder="Nombre de ususario" class="box">
    <input type="password" id="password" name="password" placeholder="Contraseña" class="box">
    <input type="password" id="repassword" placeholder="Reescribir contraseña" class="box">
    <button type="submit"> Registrarse</button>
</form>

{% endblock %}