{% extends 'base.html' %}
{% load static %}

{% block title %}Calculadora de rutas{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
{% endblock %}

{% block content %}

<div class="container row">
    <div class="col-lg-6 mt-2 mb-2 text-center border border-light p-5">
        <!--        <img class="img-fluid mx-auto d-block" src="images/mapa.png" alt="Mapa de Zaragoza">-->
        <div id="map" class="map map-home img-fluid mx-auto d-block" style="margin:auto;height:350px;width:425px"></div>

        <script>
            var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
            var map = L.map('map').addLayer(osm);
            if("{{costCar}}"==""){
                map.setView(new L.LatLng(41.64505127477792, -0.9032447414148848), 12)
            }else{
                var origin = [{{source}}];
                var destiny = [{{dest}}];
                map.fitBounds([origin,destiny]);
                L.marker(origin)
                    .bindTooltip("Origen", { permanent: true, direction: 'right' })
                    .addTo(map)
                L.marker(destiny)
                    .bindTooltip("Destino", { permanent: true, direction: 'right' })
                    .addTo(map)
            }
        </script>
        <br>

        {% if error %}
        <h2>Campos vacíos</h2>
        {% elif toomanyrequests %}
        <h2>Espera unos segundos, que la api no puede</h2>
        {% elif costCar%}
        <h5>Coste en coche: {{costCar}} µg/m3</h5>
        <h5>Coste en autobús: {{costBus}} µg/m3</h5>
        {% if percentDiff < 100 %}
        <h5>¡Se ahorra un {{percentDiff}}% !</h5>
        <!--        { % else % }-->
        <!--            <h1>Es peor el autobús? pues vaya {{percentDiff}}% </h1>-->
        {% endif %}
        {% endif %}
    </div>
    <div class="col-lg-6 mt-2 mb-2">
        <form class="text-center border border-light p-5" method="post">
            {% csrf_token %}
            <p class="h4 mb-4">Origen</p>
            <input class="form-control mb-4" type="text" id="source" name="source" placeholder="Localización origen" value="{{source_form}}">

            <p class="h4 mb-4">Destino</p>
            <input class="form-control mb-4" type="text" id="dest" name="dest" placeholder="Localización destino" value="{{dest_form}}">

            <p class="h4 mb-4">Transporte</p>
            <div class="row">
                <p class="h6 mb-4 col-8">Tipo de coche</p>
                <select class="col-3" id="carType" name="carType">
                    {% for carType in carTypes %}
                    <option value='{{carType.id}}' {% if carType == carUser %} selected="selected" {% endif %}>{{ carType.model }} (contaminación: {{ carType.contaminationRate }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <p class="h6 mb-4 col-8">Pasajeros</p>
                <input class="mb-4 col-3" type="number" name="passengers" value="{{ passengersUser }}">
            </div>

            <button class="btn btn-block btn-success" type="submit"> Calcular</button>
        </form>
    </div>
</div>

{% endblock %}