{% extends 'base.html' %}
{% load static %}

{% block title %}Calculadora de rutas{% endblock %}

{% block content %}

<section id="calculadora">
    <img id="mapa" src="{% static 'images/mapa.png' %}" alt="Mapa de Zaragoza">
    <form class="contenedor_log">
        <div>
            <h1>Origen</h1>

            <input type="text" id="origen" name="origen" placeholder="Origen" class="box">

            <input type="text" id="localizacionO" name="localizacionO" placeholder="Localización" class="box">
        </div>
        <div>
            <h1>Destino</h1>

            <input type="text" id="destino" name="destino" placeholder="Destino" class="box">

            <input type="text" id="localizacionD" name="localizacionD" placeholder="Localización" class="box">
        </div>

        <button type="submit"> Calcular</button>
    </form>
</section>

{% endblock %}