{% extends 'base.html' %}
{% load static %}

{% block title %}Usuario{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container row mt-2 mb-2">
    <div class="col-md-6">
        <img src="{% static 'images/surfer_astronaut.jpg' %}" alt="user photo" class="img-fluid mx-auto">
    </div>
    <div class="col-md-6 text-center border border-light p-5">
        <a href="{% url 'logout' %}">Desconectar</a>
        <p class="h4 mb-4">Mis datos</p>
        <input type="text" id="name" class="form-control" placeholder="Nombre">
        <input type="text" id="surname" class="form-control" placeholder="Apellidos">
        <input class="form-control mb-4" type="email" id="email" name="email" placeholder="Email de contacto">
        <input class="form-control mb-4" type="password" id="password" name="password" placeholder="Contraseña">
        <section>
            <article>
                <ul>
                    {% for trip in trips %}
                    <li>El {{ trip.date }} viajaste de {{ trip.start }} a {{ trip.end }} y ganaste {{ trip.points }} puntos.</li>
                    {% endfor %}
                </ul>
            </article>
        </section>
    </div>
</div>
{% else %}
<h2>Necesario registrarse.</h2>
{% endif %}

{% endblock %}
