{% extends 'base.html' %}
{% load static %}

{% block title %}Usuario{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container row mt-2 mb-2">
    <div class="col-md-6">
        <img src="{% static 'images/surfer_astronaut.jpg' %}" alt="user photo" class="img-fluid mx-auto">
    </div>
    <div class="col-md-6 text-center border border-light p-5">
        <a href="{% url 'logout' %}">Desconectar</a>
        <p class="h4 mb-4">Mis datos</p>
        <div class="form-row mb-4">
            <div class="col">Nombre y apellidos:</div>
            <div class="col form-control">{{user}}</div>
        </div>
        <div class="form-row mb-4">
            <div class="col">Email:</div>
            <div class="col form-control">{{user.email}}</div>
        </div>
        <section>
            <article>
                <p class="h4 mb-4">Viajes realizados:</p>
                <ul>
                    {% for trip in trips %}
                    <li>El {{ trip.date }} viajaste de {{ trip.start }} a {{ trip.end }} y ganaste {{ trip.points }} puntos.</li>
                    {% endfor %}
                </ul>
                {% if trips %}{% else %}
                <p>No hay viajes registrados</p>
                {% endif%}
            </article>
        </section>
        <a href="{% url 'delete' %}">Borrar cuenta</a>
    </div>
</div>
{% else %}
<h2>Necesario registrarse.</h2>
{% endif %}

{% endblock %}
